{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{table_name}}</title>
	<style>
        .a-table{
            background-color: #FBFBFB80;
            filter:alpha(Opacity=100);
            -moz-opacity:1;
            opacity: 1;

        }
 	a{
 		text-decoration: none;
 	}
	a:link,a:visited {
    	color: black;
	}
    td{
        white-space: nowrap;/*控制单行显示*/
        overflow: hidden;/*超出隐藏*/
        text-overflow: ellipsis;/*隐藏的字符用省略号表示*/
    }
    table{
        width: 100%;
        table-layout: fixed;
    }
 	</style>

</head>
<body background="{% static "image/bg5.jpg" %}" style=" background-repeat:no-repeat ; background-size:100% 100%; background-attachment: fixed;">
	<p>
	<h3><a href="{% url 'show_tables'%}">返回所有表</a></h3>
    </p>
<form id="f1">
    {%csrf_token%}
    <input type="hidden" name="table_name" value={{ table_name }}>

    <table class = a-table>
        <tr>
        {% for a in attr %}
        <th>{{a.0}}</th>
        {% endfor %}
        <th width=200> <input type="submit" id='submit' class="btn btn-default" value="提交操作" style="width:100%;height:100%"/></th>
        </tr>
        <tr>
        {% for a in attr %}
            <td><input type="text" name={{ a.0 }} defaultVal=None class="form-control" placeholder="请输入..." style="width:100%;height:100%"/></td>
        {% endfor %}
        <td><select name="option" style="width:100%;height:100%">
            <option value="插入">插入已填写内容</option>
{#            <option value="筛选">按填写内容筛选</option>#}
            {% if table_name == '番剧表' or table_name == '声优表' or table_name == '制作公司表' or table_name == '曲目表' or table_name == '图片表' or table_name == '链接表'%}
            <option value="替换">替换选中内容</option>
            {% endif %}
            <option value="删除">删除选中内容</option>
        </select></td>

        </tr>
        {% for d in data %}
            <tr>
            {% for dd in d %}
            <td>{{dd}}</td>
            {% endfor %}
            <td align="center"><input type="radio" name="selected" value="{{ d }}"></td>
        {% endfor %}
    </table>
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

    $('#submit').click(function () {
        $.ajax({
            url: '/update/',
            type: 'post',
            async:false,
            data: $('#f1').serialize(),
            success: function(response_backend) {
                if(response_backend != "") {
                    alert(response_backend);
                }
            }
        })
    })

</script>

</body>
</html>