<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table</title>
	<style>
 	a{
 		text-decoration: none;
 	}
	a:link,a:visited {
    	color: black;
	}
 	</style>
</head>
<body>
	<p>
	<a href="{% url 'home'%}">返回主目录</a>
    </p>
<table>
    <tr><td>table</td><td>操作</td></tr>
    {% for user in list %}
    <tr><td><a href="{% url 'edit_table' user.0%}">{{user.0}}</a></td>
        <td><a href="{% url 'edit_table' user.0%}"><button>查看</button></a></td></tr>
	{% empty %}
	<td>空空如也～</td>
    {% endfor %}
</table>
</body>
</html>

