<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
	<style>
 	a{
 		text-decoration: none;
 	}
	a:link,a:visited {
    	color: black;
	}
 	</style>
</head>
<body>
<table>
    <tr>
	{% for a in attr %}
	<th>{{a.0}}</th>
	{% endfor %}
	<td>操作</td>
	</tr>
    <tr>
	{% for a in attr %}
    <input type="text" name=a.0 class="form-control" required />
    {% endfor %}
	<td><button>将已填写内容添加到数据库</button></td></tr>
	</tr>
    下面的内容展示可以加个开关
    {% for d in data %}
    <tr>
	{% for dd in d %}
	<td>{{dd}}</td>
	{% endfor %}
	<td><button>用已填写内容替换</button></td><td><button>删除该内容</button></td></tr>
    {% empty %}
    <td>空空如也～</td>
    {% endfor %}
</table>
</body>
</html>
